#home {
    text-align: center;
}

body {
    font-family: 'Blinker', sans-serif;
    background-image: url('https://c.pxhere.com/photos/ea/8f/pixabay_board_game_hangman_letters_words_scrabble_game_board-1340216.jpg!d');
    background-repeat: no-repeat;
    background-size: cover;
}