#home {
    text-align: center;
}

body {
    font-family: 'Blinker', sans-serif;
    background-image: url('http://datagenetics.com/blog/april12012/hangmand.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.jum {
    background-color: brown;
}

h2 {
    padding: 5%;
}